body {
    display: flex;
}

#bararea {
    position: relative;
    z-index: 1000;
    height: 100vh;
    width: 50px;
    top: 0;
    background-color: rgb(61,70,79)/*crimson*/;
}

#contentapp {
    position: relative;
    width: 100%;
    height: 100vh;
}