#tabinfo {
    display: flex;
    width: 950px;
    height: 150px;
}

@media screen and (max-width: 1000px){
    #tabinfo {
        width: 800px;
    }
}
    .boxes {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex: 1;
        /* box-shadow: 0 0 0 1px #ccc; */
    }

    .boxes:nth-child(even) {
        margin: 0 5px 0 5px
    }
        .boxes div {
            text-align: center;
        }
        .boxes p {
            color: #a0bcd0;
        }