@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #fff;
}

header {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 89px;
}

#menu li {
    list-style: none;
    display: inline;
    padding: 15px;
    /* background: whitesmoke; */
}

    .login-button {
        box-shadow: 0 0 1px 1px #3483fa;
        color: #3483fa;
        border-radius: 5px;
    }

.sep {
    height: 35px;
    background-color: whitesmoke;
}