$$ extends 'plantillas/base.html' $$

$$ block head $$
<link rel="stylesheet" href="$ url_for('static', filename='css/index.css') $">
$$ endblock $$

$$ block body $$

    <div class="body-page">
        <div class="left-area">
            <h2 style="color: darkslategray;"># Tableros para organizar tus tareas</h2>
            <div class="board">
                <img src="$ url_for('static', filename='css/img/image.png') $" alt="">
                <h4 style="color: darkslategray;"># Crea proyectos y actividades</h4>
                <img src="$ url_for('static', filename='css/img/project.png') $" alt="">
            </div>
        </div>

        <div id="register-area">
            <div class="form-register">
                <form action="#" method="post">
                    <label>
                        Nombre <br>
                        <input name="name" type="text" placeholder="Ej. Alec" required>
                    </label> <br>
                    <label>
                        Apellido <br>
                        <input name="last_name" type="text" placeholder="Ej. Lighwood" required>
                    </label> <br>
                    <label>
                        Usuario <br>
                        <input name="user" type="text" placeholder="Ej. alec1" required>
                    </label> <br>
                    <label>
                        Email <br>
                        <input name="email" type="email" name="" id="" placeholder="Ej. alec@mail.com" required>
                    </label> <br>
                    <label>
                        Contraseña <br>
                        <input name="password" type="password" name="" id="" placeholder="Quesadilla64" required>
                    </label> <br>
                    <button class='register-button' type="submit">Regístrate</button>
                </form>
                <p style="text-align:center; font-size: 12px;"> <a style="color: #0065fb;" href="#">Terminos y condiciones</a></p>
            </div>
        </div>
    </div>

$$ endblock $$