<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bretter | Organizate</title>
    <link rel="stylesheet" href="$ url_for('static', filename='css/header.css') $">
    $$ block head $$

    $$ endblock $$
</head>
<body>
    <header>
        <nav>
            <ul id="menu">
                <a href="/"><li>Inicio</li></a>
                <li>Descargar</li>
                <li>Saber Más</li>
                <a href="/login">
                    <li class="login-button">Iniciar Sesión</li>
                </a>
            </ul>
        </nav>
    </header>
    <div class="sep"></div>

    $$ block body $$

    $$ endblock $$


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    $$ block footer $$

    $$ endblock $$
</body>
</html>